header{ 
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}
body {
  background-color: lightcoral;
  color: rgb(0, 0, 0);
  padding: center;
  font-family: Arial;
  text-align: center;
}
.Container{
  margin: auto;
  border: 3px;
  background-color: white;
}
.Container > div {
  border: 10px solid lightcoral;
  padding: 10px;
}
.qrcode{
  margin-top: 10px;
}
.button{
  color: black;
  font-size: 16px;
  display: inline-block;
}
 @media (max-width: 768px){
  .Container{
  flex-direction: row;
  }
 }